@inject ISolverWizard SolverWizard
@inject IChannel Channel

@if (SolverWizard.Stage == SolutionStage.Ready)
{
    <h2>⌛ Submitting job...</h2>
}
else
{
    @if (finished)
    {
        <div class="finishing align-content-center">
            <div class="finishingText">&hellip;Stand by. Your solutions are being prepared and will be revealed soon.&hellip;</div>
        </div>
    }
    else if (Stats != null)
    {
        <h3>@Stats.Title</h3>
        
        <StatBox Class="blue">
            <Label>
                <span class="oi oi-clock"></span> Time elapsed:
            </Label>
            <Value>@Stats.RunningTime</Value>
        </StatBox>

        <StatBox Class="blue">
            <Label>
                <span class="oi oi-globe"></span> Total attempts:
            </Label>
            <Value>
                @Stats.TotalAttempts
            </Value>
        </StatBox>
        
        <StatBox Class="blue">
            <Label>
                <span class="oi oi-fork"></span> Total forks:
            </Label>
            <Value>
                @Stats.ForkedSolutions
            </Value>
        </StatBox>
        
        <StatBox Class="green">
            <Label>
                <span class="oi oi-circle-check"></span> Solved:
            </Label>
            <Value>
                @Stats.Solved
            </Value>
        </StatBox>
        
        <StatBox Class="red">
            <Label>
                <span class="oi oi-layers"></span> Duplicates:
            </Label>
            <Value>
                @Stats.IgnoredAsDuplicate
            </Value>
        </StatBox>
        
        <StatBox Class="red">
            <Label>
                <span class="oi oi-x"></span> Dead-ends:
            </Label>
            <Value>
                @Stats.AbortedDeadEnd
            </Value>
        </StatBox>
        
        <StatBox Class="red">
            <Label>
                <span class="oi oi-warning"></span> Outside of tolerance:
            </Label>
            <Value>
                @Stats.AbortedOutsideTolerance
            </Value>
        </StatBox>
        
        <StatBox Class="red">
            <Label>
                <span class="oi oi-fire"></span> Impossible solutions:
            </Label>
            <Value>
                @Stats.AbortedNoSensor
            </Value>
        </StatBox>
        
        <StatBox Class="@queueColor">
            <Label>
                <span class="@dir"></span> Queued problems:
            </Label>
            <Value>
                @Stats.QueuedSolutions
            </Value>
        </StatBox>
        
        <StatBox Class="red">
            <Label>
                Stop solving
            </Label>
            <Value>
                <button class="btn btn-danger" @onclick="@(() => Cancel())">
                    <span class="oi oi-media-stop"></span> End process
                </button>
            </Value>
        </StatBox>                
    }
}
@code {
    [Parameter]
    public SolverStats? Stats { get; set; }

    private bool finished = false;
    private long lastQueue = 0;
    private string dir = "oi oi-arrow-thick-top";
    private string queueColor = "value red";

    protected override Task OnInitializedAsync()
    {
        Channel.Subscribe<StatTracker>(nameof(StatTracker), (topic, payload) => Refresh(null));
        Channel.Subscribe<ISolverWizard>(nameof(SolutionStage), (topic, wizard) => Refresh(wizard));       
        return base.OnInitializedAsync();
    }

    private void Cancel()
    {
        finished = true;
        StateHasChanged();
        Channel.Publish<StatTracker>(nameof(Cancel), null);
    }

    private void Refresh(ISolverWizard? wizard)
    {
        if (wizard != null && wizard.Stage == SolutionStage.Solved)
        {
            finished = true;
        }

        var diff = Stats!.QueuedSolutions - lastQueue;
        if (diff > 0)
        {
            dir = "oi oi-arrow-thick-top";
            queueColor = "value red";
        }
        else
        {
            dir = "oi oi-arrow-thick-bottom";
            queueColor = "value green";
        }

        lastQueue = Stats!.QueuedSolutions;
        
        InvokeAsync(StateHasChanged);
    }
}
